.scrollWrap {
  height: 100%;
  background: #f5f5f5;
}

.block {
  background-color: #fff;
  border-radius: 10rpx;
  margin: 20rpx 20rpx 20rpx 20rpx;
  padding: 20rpx 25rpx;
}

.top {
  height: 180rpx;
  background-image: url('../../assets/images/chat/1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}
