.default-loading{
  .icon {
    animation: default-loading-rotate 2s linear infinite;
  }
}

@keyframes default-loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}